/********************/
/*   Tables Pages CSS   */
/********************/

#Create_Tables{
    float: right;
    margin-top: -2.7rem;
}

.butonAddTable{
    margin-top: 10px;
}


.error{
    color: red;
}

.buttondiv{
    margin-top: 10px;
}

.butonEditTable{
    margin-right: 10%;
}

.EditButon{
    margin-right: 10px !important;
}

.butonDeleteTable{
    margin-top: 10px;
    margin-right: 20%;
}